html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{
    display: flex;
    padding: .77rem 0;
    justify-content: center;
    background-color: #8F2F28;
    color: white;
}

span{
    color: #4DA167;
    opacity: .5;
}